@model MaLopez_Examen1P.Models.ML_modelo1

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ML_modelo1</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MLNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MLNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MLEdad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MLEdad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MLDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MLDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MLDepartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MLDepartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MLFechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MLFechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MLIsCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MLIsCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MLSaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MLSaldo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
