@model IEnumerable<MaLopez_Examen1P.Models.ML_modelo1>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MLNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MLEdad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MLDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MLDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MLFechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MLIsCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MLSaldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MLNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MLEdad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MLDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MLDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MLFechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MLIsCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MLSaldo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
